#!/bin/bash

BACKUPDIR=/backup
DATE=`date '+%Y%m%d_%H_%M_%S'`

cd $BACKUPDIR

tar cfvz backup_$DATE.tar.gz */*

scp -i /home/{{ backup_user }}/.ssh/id_rsa -P 22522 backup_${DATE}.tar.gz {{ backup_user }}@{{ backup_target_host }}:/home/{{ backup_user }}/

rm backup_$DATE.tar.gz 