#!/bin/bash

BACKUPDIR=/backup
DATE=`date '+%Y%m%d_%H_%M_%S'`

cd $BACKUPDIR

for item in `ls`
do
   if [ "${item}" == "scripts" ]
   then
      continue
   else
      echo "scp $item"
      scp -r -i /home/{{ backup_user }}/.ssh/id_rsa -P 22522 ${item} {{ backup_user }}@{{ backup_target_host }}:/home/{{ backup_user }}/backup_${DATE}
   fi
done